/* Set base font size and background color */
html {
    font-size: 10px;
    background-color: #30acff;
    margin-top: 40px;
    
}
/* Main content area */
.box1 {
    background-image: url('images/landingpageimage.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

/* Main heading */
.heading1 {
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    border-style: groove;
    background-color: #ebe41f64;
    font-family: 'Amatic SC', cursive;
    color: #085889;
    text-shadow: 2px 2px 2px #ffffff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 20px;
}

/* Subheading */
.heading2 {
    font-size: 3rem;
    color: #022135;
    background: rgba(48, 172, 255, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
}

/* Button */
.box2 {
    text-align: center;
    margin-top: 2rem;
}

.button {
    font-size: 4rem;
    background: rgba(0, 255, 251, 0.724);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 9px #041edd65;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgba(110, 107, 107, 0.68);
}

.button:hover {
    background-color: #05f3ff;
}

.button:active {
    background-color: #0937b7;
    box-shadow: 0 5px #01bbff;
    transform: translateY(4px);
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .heading1 {
        font-size: 6rem;
    }

    .heading2 {
        font-size: 2rem;
    }

    .button {
        font-size: 2rem;
    }
}
